$fa-font-path: '/fonts';
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 4px solid blue;
}
.dev-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid blue;
  overflow-y:scroll;
  z-index: 9000;
}
.develop {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  background-color: blue;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: auto;
  z-index: 9000;
  border-bottom-right-radius: 15%;
  border-bottom-left-radius: 15%;
}
// Core variables and mixins
@import 'variables';


// Styles
@import 'style';

@import './screens/login.scss';

@import './screens/products.scss';

@import './screens/cart.scss';

@import './screens/admin.scss';

@import './components/categorySelector.scss';

@import './components/header.scss';

@import './components/cartProduct';

@import './components/cartTotal';

@import './components/cartButton';

@import './components/footer';

@import './components/cartMessage';